@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0;
  color: inherit;
  font-family: inherit;
}

body,
html {
  min-height: 100vh;
}

body {
  color: hsl(278deg, 68%, 11%);
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin-top: 0.3rem;
  width: 100%;
  border: 1px solid #cac9cc;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
input::placeholder {
  font-size: 1rem;
  color: #cac9cc;
}

.card {
  min-height: 100vh;
  width: 100%;
  display: flex;
  gap: clamp(10px, 5vw, 15rem);
}
.card > * {
  flex-basis: 100%;
}
.card__main {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.card__main-data {
  background-color: white;
  border-radius: 0.5rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 1rem;
  gap: 2rem;
}
.card-number {
  font-size: clamp(1rem, 4.5vw, 2rem);
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
.card-name {
  text-transform: uppercase;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}
.card-cvc {
  font-size: clamp(0.7rem, 3vw, 1rem);
  position: absolute;
  color: hsl(0deg, 0%, 100%);
  top: 43%;
  right: 2.5rem;
  transform: translate(-43%);
  z-index: 2;
}
.card-dateMM {
  margin-left: auto;
}
.card__sidebar {
  padding: 1rem;
  background-image: url("../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 70% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.card__sidebar-img-container-front {
  position: relative;
  letter-spacing: 3px;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 0.5rem;
}
.card__sidebar-img-container-front > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: unset;
}
.card__sidebar-img-container-front > * {
  pointer-events: none;
}
.card__sidebar-img-container-front .card-logo {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 20%;
}
.card__sidebar-img-container-front .front-name-date {
  position: absolute;
  bottom: 0;
  padding: 3% 5%;
}
.card__sidebar-img-container-front .card-number {
  position: absolute;
  bottom: 30%;
}
.card__sidebar-img-container-front .date {
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}
.card__sidebar-img-container-back {
  position: relative;
  transform: translateX(clamp(0%, 5vw, 20%));
}
.card__sidebar-img-container-back > * {
  pointer-events: none;
}

.thanks-screen {
  transition: 0.3s;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  position: absolute;
  inset: 0;
}
.thanks-screen p {
  color: hsl(279deg, 6%, 55%);
}
.thanks-screen h1 {
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: normal;
}
.thanks-screen button {
  border-radius: 0.5rem;
  width: 80%;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1rem;
}
.thanks-screen button:hover {
  transform: scale(1.05);
  background-color: hsl(278deg, 94%, 30%);
}

.warning {
  position: absolute;
  bottom: -20px;
  text-transform: capitalize;
  color: hsl(0deg, 100%, 66%);
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.none {
  opacity: 0;
  visibility: hidden;
  transform: translateX(40%);
}

.date-cvc {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

.btn {
  cursor: pointer;
  transition: 0.3s;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1rem;
}
.btn:hover {
  transform: scale(1.05);
  background-color: hsl(278deg, 94%, 30%);
}

.date {
  display: flex;
  gap: 1rem;
}

.data__labels {
  width: 100%;
  position: relative;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 3vw, 0.8rem);
  letter-spacing: 2px;
}

@media (max-width: 880px) {
  .card {
    display: grid;
    gap: 1rem;
  }
  .card__sidebar {
    background-image: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .card__sidebar-img-container-back {
    width: 100%;
    align-self: center;
    z-index: -1;
    grid-column: 2/6;
    grid-row: 2/4;
  }
  .card__sidebar-img-container-back img {
    width: 100%;
  }
  .card__sidebar-img-container-back .card-cvc {
    top: 45.5%;
    right: 10%;
    transform: translate(-45.5%, -10%);
  }
  .card__sidebar-img-container-front {
    grid-column: 1/5;
    grid-row: 3/5;
  }
  .card__sidebar-img-container-front .front {
    width: 100%;
  }
  .card__sidebar-img-container-back {
    transform: translate(0);
  }
  .card__main-data {
    padding: 0 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
